<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Silly Goose Compiler</title>
    <link href="./tailwind.css" rel="stylesheet">
  </head>
  <body>
    <h1>Epic Compiler 'Splorer</h1>
    <div name="editor1" id="editor1">
      int main(void) {
        return 0;
      }
    </div>
    <br />

    <br />
    <div id="editor2">
      // compiled code will show here
      {{ .editor2text }}
    </div>
    <br />

    <br />
    <button id="compileBtn" type="submit" class="btn">Compile</button>

    <script
      src="/ace-builds/src-noconflict/ace.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script>
      var editor1 = ace.edit("editor1", {
        theme: "ace/theme/tomorrow_night_eighties",
        mode: "ace/mode/c_cpp",
        maxLines: 30,
        wrap: true,
        autoScrollEditorIntoView: true,
      });

      var editor2 = ace.edit("editor2", {
        theme: "ace/theme/tomorrow_night_eighties",
        mode: "ace/mode/assembly_arm32",
        maxLines: 30,
        wrap: true,
        autoScrollEditorIntoView: true,
      });

      editor2.setReadOnly(true);

      //window.addEventListener('fetch', function (event) {});

      // send editor1 text, put response in editor2 text
      document.getElementById("compileBtn").onclick = function(evt) {
        fetch('/compile', {
          method:'POST',
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({"source": editor1.getValue()}),
        }).then(response => {
          response.json().then(res => {editor2.setValue(res.res, 1)})
        });
      }

    </script>
  </body>
</html>
