<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Silly Goose Compiler</title>
    <style type="text/css" media="screen">
      #editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    </style>
  </head>
  <body>
    <h1>Epic Compiler 'Splorer</h1>
    <div name="editor1" id="editor1">
      function foo(items) { var x = "All asdflkasjdflk is syntax highlighted";
      return x; }
    </div>
    <br />

    <form action="/compile" method="post" id="compileForm">
      <input name="compileText" type="text" hidden id="compileText">
      <button type="submit">Compile</button>
    </form>

    <br />
    <div id="editor2">
      // compiled code will show here
      {{ .editor2text }}
    </div>

    <!-- git submodule init -->
    <!-- git submodule update -->
    <script
      src="/ace-builds/src-noconflict/ace.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script>
      var editor1 = ace.edit("editor1", {
        theme: "ace/theme/tomorrow_night_eighties",
        mode: "ace/mode/c",
        maxLines: 30,
        wrap: true,
        autoScrollEditorIntoView: true,
      });

      var editor2 = ace.edit("editor2", {
        theme: "ace/theme/tomorrow_night_eighties",
        mode: "ace/mode/javascript",
        maxLines: 30,
        wrap: true,
        autoScrollEditorIntoView: true,
      });

      editor2.setReadOnly(true);

      // event handler: put editor1 text into hidden text field in form on submit
      document.getElementById("compileForm").onsubmit = function(evt) {
        document.getElementById("compileText").value = editor1.getValue();
      }
    </script>
  </body>
</html>
